@page "/inscripciones"

<h3>Component1</h3>

@code {
    public string Url = "https://localhost:5001/api/inscripcion";
    public Data.Respuesta oRespuesta = new Data.Respuesta();

    protected override async OnitializedAsinc() =>
        oRespuesta = await ; 
}
